<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- ログの出力先を指定 -->
    <targets>
        <target name="errorlog" xsi:type="File" fileName="/shared/logs/error.log" />
    </targets>

    <!-- 指定のtargetへの出力条件（minlevel以上） -->
    <rules>
        <logger name="*" minlevel="Debug" writeTo="errorlog" />
    </rules>
</nlog>